.popupCon, .arrowIcon, .userIcon, .regIcon, .search input.searchBtn, .weibo, .weixin, .douban, .cycle-pager span, .cycle-pager span.cycle-pager-active, .cycle-prev, .cycle-next, .cycle-prev:hover, .cycle-next:hover {
	background: url(../images/icon.png) no-repeat;
}
a:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
}
ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}
li { 
	float: left;
}
h3 {
	border-bottom: 2px solid #007D41;
	color: #0F633B;
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding: 0 8px;
}
	h3 small {
	    color: #007D41;
	    font-size: 0.7em;
	    letter-spacing: 0;
	    padding-left: 5px;
	}
	h3 span {
	    color: #007D41;
	    display: block;
	    font-size: 0.5em;
	    font-weight: normal;
	    letter-spacing: 0;
	    line-height: 1.5em;
	    margin-top: -1.5em;
	    text-align: right;
	}
	h3 a {
	    color: #007D41;
	}
body {
	background: #f1f1f1;
	font-family: "微软雅黑";
	font-size: 12px;
	margin: 0;
	padding: 0;
}
	header { 
		background: #fff;
		height: 104px;
		width: 100%;
		box-shadow: 0 0 6px 0 #d8d8d8;
	}	
		.headerContainer {
			margin: 0 auto;
			height: 110px;
			width: 980px;
		}
		.logo {
			float: left;
			margin-top: 20px;
			width: 180px;
		}
		.headContent {
			float: right;
			width: 800px;
		}
			.popupCon {
				background-color: #ebebeb;
				background-position: 13px 6px;
				border-radius: 0 0 12px 12px;
				float: right;
				height:37px;
				padding-left: 46px;
				width: 300px;
			}
				.cart, .cart:hover {
					background: #007d41;
					color:#fff;
					display: block;
					height: 37px;
					line-height: 37px;
					padding-left: 15px;
					text-decoration: none;
					width: 143px;
				}
					.arrowIcon {
						background-position: 0 -89px;
						float: right;
						height: 9px;
						margin: 13px 16px 0 0;
						width: 12px;
					}
				.cartPanel {
					background: #007D41;
					color: #fff;
					display: none;
					font-family: SimSun;
					opacity: 0.8;
					padding: 9px 0 10px;
					position: absolute;
					z-index: 101;
				}
					.noProd {
						line-height: 24px;
						padding-left: 17px;
						width: 141px;
					}
						.noProd a {
							color: #ffaa87;
						}
					.haveProd {
						width: 240px;
						
					}
						.haveProd table {
							margin-left: 10px;
						}
						.haveProd td {
							padding-left: 7px;
						}
						.prodInfo {
							border-bottom: 1px solid #99cbb3;
						}
							.prodInfo span {
								color:#58db9c; 
								font-size:12px; font-size:12px;
							}
						.haveProd p {
							font-size: 12px;
							color: #fff;
							height: 49px;
							line-height: 59px;
							margin: 0;
							padding: 0;
							text-align: center;
						}
						.haveProd p a {
							color: #fff;
						}
				.reg, .login, .user {
					color: #007d41;
					display: block;
					float: left;
					line-height: 37px;
					width: 82px;
				}
					.regIcon {
						background-position: 0 -34px;
						float: left;
						height: 19px;
						margin: 6px 8px 0 14px;
						width: 17px;
					}
				.login {
					width: 59px;
				}

					.line {
						background: #dadada;
						display: inline-block;
						float: left;
						height: 30px;
						margin-right: 14px;
						width: 1px;
					}
				.user {
					padding-left: 30px;
					position: relative;
					width: 112px;
					z-index: 102;
				}
					.userIcon {
						background-position: 0 -364px;
						display: inline-block;
						float: left;
						height: 17px;
						margin: 10px 10px 0 0;
						width: 13px;
					}
				.userPopup {
					background: #f1f1f1;
					border-radius: 0 0 6px 6px;
					box-shadow: 0 0 2px 2px #cfcfcf;
					display: none;
					opacity: 0.8;
					padding-top: 44px;
					position: absolute;
					top: 0;
					width: 142px;
					z-index: 101;
				}
					.userPopup li {
						border-bottom: 1px solid #e2e2e2;
						border-top: 1px solid #fdfdfd;
						height: 35px;
						line-height: 35px;
						margin-left: 3px;
						padding-left: 12px;
						width: 123px;
					}
					.userPopup li.first {
						border-top: 0;
						height: 46px;
					}
					.userPopup li.last {
						border-bottom: 0;
					} 
					.userPopup a{
						color: #757575;
						display: block;
						font-weight: bold;
						font-size: 14px;
					}
					.photo {
						border: 1px solid #c7c7c7;
						float: left;
					}
					.userPopup li span {
						color: #9b9b9b;
						float: left;
						line-height: 46px;
						padding-left: 12px;
					}
		.navCon {
			float: right;
			padding-top: 17px;
			width: 762px;
		}
			nav a {
				color: #878484;
				display: block;
				font-size: 15px;
				float: left;
				line-height: 25px;
				margin: 0 20px 0 20px;
			}
			nav a:hover, nav a.current {
				border-bottom: 2px solid #007d41;
				text-decoration: none;
			}
			.sales {
				color: #ff884e;
			}
			.search {
				float: left;
				padding-left: 30px;

			}
				.search input {
					background: #f0f0f0;
					border: 2px solid #dadada;
					border-color: #dadada #ebebeb #ebebeb #ebebeb;  
					border-bottom: 0;
					font-size: 14px;
					line-height: 19px;
					height: 19px;
					width: 176px;
				}
				.search input.searchBtn {
					background-position: 0 -63px;
					border: 0;
					height: 16px;
					margin-left: 14px;
					width: 15px;
				}
			
	section {
		width: 980px;
		margin: 0 auto;
	}
		.zixun img:hover, .newProd img:hover, .hotProd img:hover, .newsProd img:hover {
			opacity: 0.7;
		}
		.zixun a, .newProd li a, .hotProd li a, .newsProd li a {
			display: block;
			float: left;
			font-size: 0;
			line-height: 0;
		}
	.banner {
		box-shadow: 0 2px 2px #999;
		margin-top: 18px;
		position: relative;
	}
		.cycle-pager {
			bottom: 16px;
		    left: 0;
		    position: absolute;
		    right: 0;
		    text-align: center;
		    z-index: 101;
		}
			.cycle-pager span {
				background-position: 0 -220px;
				display: inline-block;
				height: 10px;
				margin: 0 13px 0 12px;
				overflow: hidden;
				text-indent: -100px;
				width: 11px;
			}
			.cycle-pager span.cycle-pager-active {
				background-position: 0 -200px;
			}
		.cycle-prev, .cycle-next {
			background-position: 0 -240px;
			height: 21px;
			left: -35px;
			position: absolute;
			top: 192px;
			width: 11px;
		}
		.cycle-next {
			background-position: 0 -271px;
			left: inherit;
			right: -35px;
		}
		.cycle-prev:hover {
			background-position: 0 -302px;
		} 
		.cycle-next:hover {
			background-position: 0 -333px;
		}

	.zixun {
		margin-top: 16px;
		overflow: hidden;
	}
		
	.newProd {
		overflow: hidden;
		height: 325px;
	}
		.newProd li {
			box-shadow: 0 0 3px 1px #E1E1E1;
			margin-right: 15px;
		}
		.newProd li.last, .newsProd li.last {
			margin-right: 0;
		}
	.hotProd {
		background: #fff;
		margin-top: 20px;
		padding: 10px 0;
		overflow: hidden;
	}
			
		.hotProd h3, .newsProd h3 {
			margin-top: 0;
		}
		.hotProd li {
			margin: 0 3px 0 12px;
			width: 308px;
		}
	.newsProd {
		background: #fff;
		padding: 32px 0 56px;
		overflow: hidden;
	}
		.newsProd li {
			border: 1px solid #ececec;
			border-top: 0;
			margin: 0 10px 0 3px;
			padding: 0 0 2px 2px;
			text-align: center;
			width: 310px;
		}
	footer {
		background: #fff;
		height: 189px;
		margin: 4px auto 0;
		width: 980px;
	}
		.footer {
			height: 150px;
			overflow: hidden;
		}
			dl{
				float: left;
				margin: 25px 0 0;
				overflow: hidden;
				padding: 0 0 0 78px;
				width: 220px;
			}
			dl.contact{
				width: 270px;
			}
			.haveBorder{
				border-left: 1px solid #dadada;
			}
				dd{
					margin: 30px 0 0;
					padding: 0;
				}
				.help dd, .contact dd{
					margin-top: 10px;
				}
					.focus li{
						width: 60px;
					}
					.help li{
						width: 95px;
						height: 22px;
					}
					.contact li{
						width: 235px;
						font-size: 14px;
						font-family: SimSun;
						height: 22px;
					}
						.focus a, .help a{
							color: #595858;
							display: inline-block;
							font-size: 12px;
						}
					.textRight{
						text-align: right;
					}
						.weibo{
							background-position: 0 -108px;
							display: block;
							height: 21px;
							margin-bottom: 10px;
							width: 26px;
						}
						.weixin{
							background-position: 0 -139px;
							display: block;
							height: 21px;
							margin-bottom: 10px;
							width: 27px;
						}
						.douban{
							background-position: 0 -170px;
							display: block;
							height: 21px;
							margin-bottom: 10px;
							width: 27px;
						}
					h4{
						color: #007d41;
						font-size: 18px;
						margin: 0;
					}
						h4 span{
							font-size: 12px;
							font-family: SimSun;
						}
		.copyRight{
			background-color: #007d41;
			color: #fff;
			float: left;
			font-family: SimSun;
			height: 39px;
			text-align: center;
			width: 980px;
		}